[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
requests = "*"
onnxruntime = "*"
# skl2onnx = "*"
pandas = "*"
# scikit-learn = "*"
black = "*"

[requires]
python_version = "3.12"

[scripts]
local = "python run_lambda_local.py"
model = "python scripts/model.py"
format = "black ."
